# Ambiente virtual
churn-project/

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Ignorar arquivos de banco de dados e artefatos do MLflow
mlartifacts/
mlruns/
src/mlruns/
*.db
mlflow.db

# Ignorar modelos locais exportados
*.pkl